<DockLayout class="page">
    <label dock="top" text="Pray Times" class="header"></label>
    <FlexboxLayout dock="bottom" class="footer">
        <ns-menu [active]="active"></ns-menu>
    </FlexboxLayout>

    <GridLayout orientation="vertical" rows="*, auto" height="100%" width="100%" dock="left">
    <RadCalendar #prayTimesCalendar

            [eventSource]="times"
            
            [eventsViewMode]="eventsViewMode" [viewMode]="viewMode" [minDate]="minDate" 
            
            selectionMode="Single"
            
            (dateSelected)="onDateSelected($event)"

            (inlineEventSelected)="onInlineEventSelectedEvent($event)"

            [displayedDate]="displayedDate"

            [dayViewStyle]="dayViewStyle" 
            
           >
        </RadCalendar>
        <StackLayout row="2" orientation="horizontal">
            <FAB #prayTimesMenuToDay (tap)="onTodayTap()" icon="~/assets/images/pray-times/today.png"
               [ngClass]="{ 'fab-button-today-active': active === 'today' }" rippleColor="#f1f1f1"
               class="fab-button fab-button-today"></FAB>
            <FAB #prayTimesMenuNew (tap)="onNewEventTap()" icon="~/assets/images/pray-times/new-event.png"
               [ngClass]="{ 'fab-button-today-active': active === 'today' }" rippleColor="#f1f1f1"
               class="fab-button fab-button-today"></FAB>
         </StackLayout>
    </GridLayout>
</DockLayout>
